.body{
    font-family: Arial, Helvetica, sans-serif;
}

.home-page{
    background-color: rgb(214, 214, 224);
}

.about-us-page{
    background-color: rgb(214, 214, 224);
}

.guide-page{
    background-color: rgb(214, 214, 224);
}

.navbar{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
    padding-bottom: 1%;
}
.navbar a{
    font-size: x-large;
    text-decoration: none;
}

.home-content-div{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.home-content-div p{
    font-size: large;
}

.about-us-page h2{
    margin-left: 0%;
}
.about-us-page li{
    margin-left: 0%;
}

.guide-content-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide-content-div button{
    border-radius: auto;
    padding: 1%;
    margin: 1%;
    background-color: white;
    border-color: black;
    border: none;
    font-weight: bold;
    font-size: none;
    height: 1%;
}